<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/javascripts/supportkit.js"></script>
  	  <script>
  	  	console.log("yes");
		SupportKit.init({appToken: 'd1ob8osm7hlnhj4zcj8mojxd5'});
	  </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
